<div class="content-container">
    <div class="image-container">
        <img [src]="image">
    </div>
    <div class="text-container">
        <h1 class="heading">Welcome to Marvel Engineering</h1>
        <p class="font">
            At Marvel Engineering, we blend innovation with precision to deliver engineering solutions that transform industries. Our dedication to excellence drives us to continuously push the boundaries of what's possible, ensuring that every project we undertake is a testament to our commitment to quality, efficiency, and sustainability.</p>
    </div>
</div>
<div class="content-container">
    <div class="text-container">
        <h1 class="heading-us">Join Us</h1>
        <p class="font">
            We invite you to explore our website and discover the wide range of services we offer. Whether you're looking for a reliable engineering partner for your next project or seeking cutting-edge solutions to complex challenges, Marvel Engineering is here to help.

            Welcome to a world of engineering excellence. Welcome to Marvel Engineering.</p>
    </div>
    <div class="image-container">
        <img [src]="image5">
    </div>
</div>
