<nav class="navbar">
    <div class="container">
      <div class="navbar-brand">
        <a href="/" class="navbar-logo">Marvel Engineering</a>
      </div>
      <ul class="navbar-menu">
        <li class="navbar-item" routerLinkActive="active"><a routerLink="/Home">Home</a></li>
        <li class="navbar-item" routerLinkActive="active"><a routerLink="/About">About Us</a></li>
        <li class="navbar-item" routerLinkActive="active"><a routerLink="/Service">Services</a></li>
        <li class="navbar-item" routerLinkActive="active"><a routerLink="/Project">Projects</a></li>
        <li class="navbar-item" routerLinkActive="active"><a routerLink="/Contact">Contact</a></li>
      </ul>
    </div>
    <div>
    </div>
  </nav>
  